<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="${app_icon}"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a98e3fdf29d987867000167" />
        <meta-data
            android:name="UCHANNEL"
            android:value="ChannelID" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.administrator.myapplication.avatarImage"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity" />
        <activity android:name=".GlideActivity" />
        <activity android:name=".DBActivity" />
        <activity android:name=".BaseRecyclerViewActivity" />
        <activity android:name=".OkHttpActivity" />
        <activity android:name=".RetrofitActivity" />
        <activity android:name=".RxJavaAcitivity" />
        <activity android:name=".EventBusActivity" />
        <activity android:name=".EventBusActivity2" />
        <activity android:name=".AppBarLayoutActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".CadrViewActivity" >


        </activity>
        <activity android:name=".TouchEventActivity" />
        <activity android:name=".SimpleTestActivity" />
        <activity
            android:name=".View.ToastActivity"
            android:label="@string/title_activity_toast" />
        <activity
            android:name=".UriActivity"
            android:label="@string/title_activity_uri"
            android:theme="@style/AppTheme" />
        <activity android:name=".Rxjava2Activity">

        </activity>
        <activity android:name=".LambdaActivity" />
        <activity android:name=".GreenDaoActivity" />
        <activity android:name=".WheelViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SmartLayoutActivity" />
        <activity android:name=".WebViewActivity">

        </activity>
        <activity android:name=".LottieActivity">

        </activity>
        <activity android:name=".ViewActivity"
            android:hardwareAccelerated="false">

        </activity>

        <activity android:name=".MDActivity">


        </activity>
    </application>

</manifest>